<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="flex flex-1 w-full h-16 bg-orange-200 px-[5%] justify-between items-center">
        <div class="bg-brown h-100 w-100 border border-green flex">
            <img src="" alt="">
            <a href="" class="text-black text-xl">Admin Panel</a>
        </div>
        <div class="flex flex-1 items-center justify-center gap-4 text-xl">
            <a href="">Home</a>
            <a href="">Shop</a>
            <a href="">About-us</a>
            <a href="">Contact-us</a>
            <a href="">Track order</a>
        </div>
        <div class="flex items-center gap-6">
            <div class="flex items-center bg-white border border-gray-500 justify-center p-2">
                <input type="text" placeholder="explore your tangy sweets" class="text-sm px-2 outline-none">
                <a href=""><i class="fa-solid fa-magnifying-glass flex items-center"></i></a>
            </div>
            <div class="flex gap-5">
                <a href=""><i class="fa-solid fa-user cursor-pointer hover:text-orange-700 text-xl border rounded-[50%] border-black p-1 bg-green-200"></i></a>
                {% comment %} <a href=""><i class="fa-regular fa-heart cursor-pointer hover:text-orange-700 text-xl border rounded-[50%] border-black p-1 bg-green-200"></i></a>
                <a href=""><i class="fa-solid fa-cart-shopping cursor-pointer hover:text-orange-700 text-xl border rounded-[50%] border-black p-1 bg-green-200"></i></a> {% endcomment %}
                {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="flex items-center text-xl gap-1"><i class="fa-solid fa-power-off"></i>Logout</button>
                </form>
                {% comment %} {% else %}
                <a href="" class="flex items-center text-xl gap-1"><i class="fa-solid fa-power-off"></i>Login</a> {% endcomment %}
                {% endif %}    
            </div>
        </div>
    </div>


    <div class="px-[5%] flex flex-1 mt-8 gap-10 ">
        <div class="w-3/12 h-screen">
            <div class="flex flex-col divide-y text-xl">
                <a href="{% url 'dashboardpage' %}" class="bg-green-300 text-black px-3 py-2 hover:bg-green-600 flex items-center gap-3"><i class="fa-brands fa-buffer"></i>Dashboard</a>
                <a href="{% url 'managecategory' %}" class="bg-green-300 text-black px-3 py-2 hover:bg-green-600 flex items-center gap-3"><i class="fa-solid fa-house"></i>Managecategory</a>
                <a href="{% url 'managesubcategory' %}" class="bg-green-300 text-black px-3 py-2 hover:bg-green-600 flex items-center gap-3"><i class="fa-solid fa-house"></i>Managesubcategory</a>
                <a href="{% url 'manageproduct' %}" class="bg-green-300 text-black px-3 py-2 hover:bg-green-600 flex items-center gap-3"><i class="fa-brands fa-artstation"></i>Manage Product</a>
                <a href="{% url 'manageproductvariant' %}" class="bg-green-300 text-black px-3 py-2 hover:bg-green-600 flex items-center gap-3"><i class="fa-brands fa-artstation"></i>Manage Product Variant</a>
                <a href="{% url 'storeprofile' %}" class="bg-green-300 text-black px-3 py-2 hover:bg-green-600 flex items-center gap-3"><i class="fa-brands fa-artstation"></i>Store Profile</a>
                <a href="{% url 'totalorders'   %}" class="bg-green-300 text-black px-3 py-2 hover:bg-green-600 flex items-center gap-3"><i class="fa-solid fa-cart-arrow-down"></i>Manage Order</a>
                {% comment %} <a href="" class="bg-green-300 text-black px-3 py-2 hover:bg-green-600 flex items-center gap-3"><i class="fa-solid fa-dollar-sign"></i>Manage Payments</a> {% endcomment %}
                <a href="{% url 'allcustomer' %}" class="bg-green-300 text-black px-3 py-2 hover:bg-green-600 flex items-center gap-3"><i class="fa-solid fa-circle-user"></i>Manage users</a>
                <a href="{% url 'logout' %}" class="bg-green-300 text-black px-3 py-2 hover:bg-green-600 flex items-center gap-3"><i class="fa-solid fa-power-off"></i>Logout</a>
            </div>
        </div>
        <div class="w-9/12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>


