{% extends "admin/adminbase.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h2 class="text-2xl font-bold mb-6 ">
    Edit ProductVariant – {{ productvariant.name }}
</h2>

<form method="POST" enctype="multipart/form-data" class="space-y-6">
    {% csrf_token %}
    {{ form|crispy}}

    <div class="flex gap-4">
        <button
            type="submit"
            class="bg-slate-900 text-white px-6 py-2 rounded-xl">
            Update ProductVariant
        </button>

        <a href="{% url 'manageproductvariant' %}"
           class="px-6 py-2 rounded-xl border">
            Cancel
        </a>
    </div>
</form>

{% endblock %}
