{% extends "customer/customerbase.html" %}
{% block content %}

<div class="px-[10%] mt-10">
    <h2 class="text-2xl font-bold mb-6">My Orders</h2>

   {% for order in orders %}
    <div class="border-b py-3 flex justify-between">
        <div>
            <p>Order #{{ order.id }}</p>
            <p class="text-sm text-gray-500">{{ order.created_at }}</p>
        </div>

        <div>
            ₹{{ order.final_price }}
            <a href="{% url 'myorder_detail' order.id %}"
               class="text-blue-600">
                View
            </a>
        </div>
    </div>
{% empty %}
    <p>No orders yet</p>
{% endfor %}

</div>

{% endblock %}
